<?xml version="1.0"?>
<robot name="vacuum_cleaner_gz"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera" params="xyz rpy name parent namespace">

    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
        <geometry>
          <mesh filename="$(find custom_robots)/model/turtlebot2/meshes/sensors/kinect.dae"/>
        </geometry>
      </visual>
    </link>


    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="camera">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>5</update_rate>
        <topic>/${namespace}/${name}/image_raw</topic>
        <camera name="camera">
          <camera_info_topic>/${namespace}/${name}/camera_info</camera_info_topic>
          <horizontal_fov>1.0472</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>B8G8R8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>8</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="fake_camera" params="xyz rpy name parent">

    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
        <geometry>
          <mesh filename="$(find custom_robots)/model/turtlebot2/meshes/sensors/kinect.dae"/>
        </geometry>
      </visual>
    </link>


    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="stereo_camera" params="xyz rpy name parent namespace">

    <link name="${name}_link">
    </link>


    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="camera">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>5</update_rate>
        <topic>/${namespace}/${name}/image_raw</topic>
        <camera name="camera">
          <camera_info_topic>/${namespace}/${name}/camera_info</camera_info_topic>
          <horizontal_fov>1.570000</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.3</near>
            <far>15</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="laser" params="xyz rpy name parent namespace">
    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find custom_robots)/models/f1/meshes/hokuyo.dae" scale="0.1 0.1 0.1"/>
        </geometry>
      </visual>
    </link>

    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="gpu_lidar">
        <always_on>1</always_on>
        <visualize>1</visualize>
        <update_rate>5</update_rate>
        <topic>/${namespace}/${name}/scan</topic>
        <gz_frame_id>laser</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>90</samples>
              <resolution>1</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.08</min>
            <max>10</max>
            <resolution>0.01</resolution>
          </range>
        </lidar>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="bumper" params="topic name namespace">
    <gz>
      <sensor name='${name}' type='contact'>
        <always_on>true</always_on>
        <update_rate>20</update_rate>
        <contact>
          <collision>${name}_collision</collision>
          <topic>/${namespace}/${topic}</topic>
        </contact>
      </sensor>
    </gz>
  </xacro:macro>

  <xacro:macro name="imu" params="namespace">
    <gazebo>
      <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
      </plugin>

      <gazebo reference="gyro_link">
        <sensor name='imu' type='imu'>
          <always_on>1</always_on>
          <update_rate>50</update_rate>
          <topic>/${namespace}/imu</topic>
          <imu>
            <noise>
              <type>gaussian</type>
              <rate>
                <mean>0.0</mean>
                <stddev>${0.0014*0.0014}</stddev>                <!-- 0.25 x 0.25 (deg/s) -->
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0</bias_stddev>
              </rate>
              <accel>                <!-- not used in the plugin and real robot, hence using tutorial values -->
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </accel>
            </noise>
          </imu>
        </sensor>
      </gazebo>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="extra">
    <gazebo reference="wheel_left_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="wheel_right_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_front_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>

    <gazebo reference="caster_back_link">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>1.0</maxVel>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="velocity" params="namespace">
    <gazebo>
      <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
        <publish_tf>1</publish_tf>
        <left_joint>wheel_left_joint</left_joint>
        <right_joint>wheel_right_joint</right_joint>
        <wheel_separation>.230</wheel_separation>
        <wheel_diameter>0.070</wheel_diameter>
        <topic>/${namespace}/cmd_vel</topic>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="odom" params="namespace freq">
    <gazebo>
      <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_footprint</robot_base_frame>
        <odom_publish_frequency>${freq}</odom_publish_frequency>
        <odom_topic>/${namespace}/odom</odom_topic>
        <dimensions>3</dimensions>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
