<?xml version="1.0" ?>
<robot name="logistic_holonomic_robot"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find custom_robots)/models/logistic_holonomic_robot/logistic_holonomic_robot_gz.urdf.xacro"/>
  <xacro:include filename="$(find custom_robots)/models/logistic_holonomic_robot/logistic_holonomic_robot_common.urdf.xacro"/>

  <xacro:logistic_holonomic_robot/>
</robot>
