<?xml version="1.0" ?>
<robot name="amazon_robot2">
  <joint name="amazon_robot2__left_wheel_joint" type="fixed">
    <parent link="amazon_robot2__base"/>
    <child link="amazon_robot2__left_wheel"/>
    <origin rpy="-1.57  0    0" xyz="0      0.14399 0.023"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="amazon_robot2__right_wheel_joint" type="fixed">
    <parent link="amazon_robot2__base"/>
    <child link="amazon_robot2__right_wheel"/>
    <origin rpy="-1.57  0    0" xyz="0      -0.14399  0.023"/>
    <axis xyz="0 1 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="amazon_robot2__lidar_joint" type="fixed">
    <parent link="amazon_robot2__base"/>
    <child link="amazon_robot2__lidar"/>
    <origin rpy="0 0 0" xyz="-0.064  0     0.121"/>
    <axis xyz="0 0 1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="amazon_robot2__top_joint_lift_hinge" type="screw">
    <parent link="amazon_robot2__base"/>
    <child link="amazon_robot2__top_lift"/>
    <origin rpy="0 0 0" xyz="0    0    0.332"/>
    <axis xyz="0  0 -1"/>
    <limit effort="0.0" lower="0.0" upper="1.0" velocity="0.0"/>
  </joint>
  <link name="amazon_robot2__base">
    <inertial>
      <mass value="1.0"/>
      <origin rpy="0 0 0" xyz="-0.064  0     0.048"/>
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.001" iyz="0.000" izz="0.001"/>
    </inertial>
    <collision name="amazon_robot2__base_collision">
      <origin rpy="0 0 0" xyz="-0.064  0     0.048"/>
      <geometry>
        <box size="0.265 0.265 0.089"/>
      </geometry>
    </collision>
    <collision name="amazon_robot2__right_caster_collision">
      <origin rpy="0 0 0" xyz="-0.177 -0.064 -0.004"/>
      <geometry>
        <sphere radius="0.005000"/>
      </geometry>
    </collision>
    <collision name="amazon_robot2__left_caster_collision">
      <origin rpy="0 0 0" xyz="-0.177  0.064 -0.004"/>
      <geometry>
        <sphere radius="0.005000"/>
      </geometry>
    </collision>
    <visual name="amazon_robot2__base_visual">
      <origin rpy="0 0 0" xyz="-0.064  0     0"/>
      <geometry>
        <mesh filename="package://amazon_robot_gazebo/models/amazon_robot/meshes/waffle_pi_base.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="amazon_robot2__lidar">
    <inertial>
      <mass value="0.125"/>
      <origin rpy="0 0 0" xyz="-0.052  0     0.111"/>
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.001" iyz="0.000" izz="0.001"/>
    </inertial>
    <collision name="amazon_robot2__lidar_sensor_collision">
      <origin rpy="0 0 0" xyz="0.012  0    -0.01"/>
      <geometry>
        <cylinder length="0.055" radius="0.0508"/>
      </geometry>
    </collision>
    <visual name="amazon_robot2__lidar_sensor_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://amazon_robot_gazebo/models/amazon_robot/meshes/lds.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="amazon_robot2__left_wheel">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="-1.57  0    0" xyz="0      0.14399 0.023"/>
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.001" iyz="0.000" izz="0.001"/>
    </inertial>
    <collision name="amazon_robot2__left_wheel_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.018" radius="0.033"/>
      </geometry>
    </collision>
    <visual name="amazon_robot2__left_wheel_visual">
      <origin rpy="1.57 0   0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://amazon_robot_gazebo/models/amazon_robot/meshes/left_tire.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="amazon_robot2__right_wheel">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="-1.57  0    0" xyz="0      -0.14399  0.023"/>
      <inertia ixx="0.001" ixy="0.000" ixz="0.000" iyy="0.001" iyz="0.000" izz="0.001"/>
    </inertial>
    <collision name="amazon_robot2__right_wheel_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.018" radius="0.033"/>
      </geometry>
    </collision>
    <visual name="amazon_robot2__right_wheel_visual">
      <origin rpy="1.57 0   0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://amazon_robot_gazebo/models/amazon_robot/meshes/right_tire.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <link name="amazon_robot2__top_lift">
    <inertial>
      <mass value="0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="amazon_robot2__collision">
      <origin rpy="0 0 0" xyz="0     0    -0.166"/>
      <geometry>
        <cylinder length=".03" radius=".2"/>
      </geometry>
    </collision>
    <visual name="amazon_robot2__visual">
      <origin rpy="0 0 0" xyz="0     0    -0.166"/>
      <geometry>
        <cylinder length=".03" radius=".2"/>
      </geometry>
    </visual>
  </link>
</robot>
