<?xml version="1.0" ?>
<robot name="f1"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="holonomic" default="true"/>
  <xacro:arg name="ackermann" default="false"/>
  <xacro:arg name="camera" default="true"/>
  <xacro:arg name="laser" default="false"/>
  <xacro:arg name="namespace" default="f1"/>
  <xacro:property name="namespace" value="$(arg namespace)"/>

  <xacro:include filename="$(find custom_robots)/models/f1/f1_gz.urdf.xacro"/>
  <xacro:include filename="$(find custom_robots)/models/f1/f1_common.urdf.xacro"/>

  <xacro:if value="$(arg holonomic)">
    <xacro:holonomic namespace="${namespace}"/>
  </xacro:if>

  <xacro:if value="$(arg ackermann)">
    <xacro:ackermann namespace="${namespace}"/>
  </xacro:if>

  <xacro:if value="$(arg camera)">
    <xacro:f1_camera xyz="0.45 0.04 0.1" rpy="0 0 0" name="camera" parent="base" namespace="${namespace}"/>
  </xacro:if>

  <xacro:if value="$(arg laser)">
    <xacro:f1_laser xyz="0.5 0 0.072" rpy="0 0 0" name="laser" parent="base" namespace="${namespace}"/>
  </xacro:if>
</robot>
