<?xml version="1.0" ?>
<model>
    <name>package_box_03</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Arka</name>
        <email></email>
    </author>
    <description>Package Box for Package Delivery exercise in RoboticsAcademy</description>
</model>
