<?xml version="1.0"?>

<model>
  <name>Simple Circuit</name>

  <version>1.0</version>
  <sdf version="1.5">simple_circuit.sdf</sdf>

  <author>
    <name>Pedro Arias-Perez</name>
    <email>pedro.ariasp@upm.es</email>
  </author>

  <author>
    <name>JdeRobot</name>
  </author>

  <description>
    A simple circuit with safety walls.
  </description>
</model>
