<?xml version="1.0"?>
<model>
  <name>Bed</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and hectopod</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Standard bed. Original geometry by "hectopod" here "https://sketchfab.com/3d-models/bed-52da52f882e242aba646980e9757ef9f" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". Optimization and PBR textures created by Cole Biesemeyer.
  </description>

</model>
