<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rplidar_s2">
    
    <link name="lidar_link">
        <visual>
            <origin xyz="0 0 0" rpy="-1.57 0 3.1415"/>
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/rplidar_s2.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="-1.57 0 3.1415"/>
            <geometry>
                <mesh filename="file://$(find roverrobotics_description)/meshes/rplidar_s2.dae"/>
            </geometry>
        </collision>

    </link>

    <joint name="lidar_to_payload" type="fixed">
        <parent link="payload_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.174 0 0.10" rpy="0 0 3.1415"/>
    </joint>

    <gazebo reference="lidar_link">
        <sensor name='gpu_lidar' type='gpu_lidar'>
            <pose>0 0 0 0 0 0</pose>
            <topic>scan</topic>
            <frame_id>lidar_link</frame_id>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>640</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>0.0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.15</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
            </lidar>
            <visualize>true</visualize>
            <always_on>1</always_on>
        </sensor>
    </gazebo>

    <gazebo>    
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

</robot>
