<?xml version="1.0"?>
<robot name="ur5" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="hmi" default="false"/>
  <xacro:arg name="EE" default="true"/>
  <xacro:arg name="EE_name" default="robotiq_2f85"/>

  <xacro:property name="EE" value="$(arg EE)"/>
  <xacro:property name="EE_name" value="$(arg EE_name)"/>


  <xacro:include filename="$(find ros2srrc_robots)/ur5/urdf/ur5_macro.urdf.xacro"/>

  <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/common_properties.xacro"/>	

  <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_hand_params.xacro"/>	
  <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_hand.xacro"/>	

  <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_base_params.xacro"/>	
  <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_base.xacro"/>	

  <xacro:include filename="$(find ros2srrc_endeffectors)/robotiq_2f85/urdf/robotiq_2f85_macro.urdf.xacro"/>	


  <xacro:ur5 
    bringup="false"
    robot_ip="0.0.0.0"
    EE="$(arg EE)"
    EE_name="$(arg EE_name)"
    script_filename="none"
    input_recipe_filename="none"
    output_recipe_filename="none"
  />

  <xacro:robotiq_2f85 
    bringup="false"
    parent_link="tool0"
  />


  <link name="world"/>

  <link name="robot_stand">
    <visual>
      <geometry>
        <box size="0.2 0.2 1.0"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.2 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01"
               ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="robot_stand"/>
    <origin xyz="0 0 0.5"/>
  </joint>

  <joint name="stand_joint" type="fixed">
    <parent link="robot_stand"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.52"/>
  </joint>


  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <robot_sim_type>gz_ros2_control/GazeboSimSystem</robot_sim_type>

      <parameters>$(find ros2srrc_robots)/ur5/config/controller.yaml</parameters>
      <parameters>$(find ros2srrc_endeffectors)/$(arg EE_name)/config/controller.yaml</parameters>
    </plugin>
  </gazebo>

</robot>