<?xml version="1.0"?>
<robot name="ur5" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur5_gripper_description)/urdf/ur5_robotiq85_gripper.urdf.xacro"/>

  <link name="camera_base_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </visual>
  </link>

  <joint name="camera_base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_base_link"/>
    <origin xyz="0.4 0 1.2"/>
  </joint>

  <gazebo reference="camera_base_link">
    <sensor name="camera_base" type="camera">
      <update_rate>30</update_rate>
    </sensor>
  </gazebo>

  <link name="camera_hand_link">
    <visual>
      <geometry>
        <box size="0.04 0.04 0.04"/>
      </geometry>
    </visual>
  </link>

  <joint name="camera_hand_joint" type="fixed">
    <parent link="tool0"/>
    <child link="camera_hand_link"/>
    <origin xyz="0.05 0 0.1"/>
  </joint>

  <gazebo reference="camera_hand_link">
    <sensor name="camera_hand" type="camera">
      <update_rate>30</update_rate>
    </sensor>
  </gazebo>

</robot>