<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
    xmlns:gz="http://gazebosim.org/schema" name="do100_mecanum_wheel">

    <xacro:property name="do100_mecanum_wheel_radius" value="0.050" />
    <xacro:property name="do100_mecanum_wheel_mass" value="0.4" />
    <xacro:property name="do100_mecanum_wheel_width" value="0.050" />

    <xacro:macro name="do100_mecanum_wheel" params="prefix side *joint_pose">
        <link name="${prefix}_wheel_link">
            <visual>
                <origin xyz="0 ${side * 0.027} 0" rpy="0 0 ${PI/2}"/>
                <geometry>
                    <mesh filename="file://$(find custom_robots)/model/dingo/meshes/mecanum.dae" scale="${side} 1 1" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
                <geometry>
                    <cylinder radius="${do100_mecanum_wheel_radius}" length="${do100_mecanum_wheel_width}"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="${do100_mecanum_wheel_mass}"/>
                <inertia ixx="${do100_mecanum_wheel_mass/12 * (3 * do100_mecanum_wheel_radius * do100_mecanum_wheel_radius + do100_mecanum_wheel_width * do100_mecanum_wheel_width)}" ixy="0" ixz="0" iyy="${(do100_mecanum_wheel_radius * do100_mecanum_wheel_radius * do100_mecanum_wheel_mass)/2}" iyz="0" izz="${do100_mecanum_wheel_mass/12 * (3 * do100_mecanum_wheel_radius * do100_mecanum_wheel_radius + do100_mecanum_wheel_width * do100_mecanum_wheel_width)}"/>
            </inertial>
        </link>

        <gazebo>
            <plugin filename="libgz-sim-wheel-slip-system.so" name="gz::sim::systems::WheelSlip">
                <wheel link_name="${prefix}_wheel_link">
                    <slip_compliance_lateral>1.0</slip_compliance_lateral>
                    <slip_compliance_longitudinal>1.0</slip_compliance_longitudinal>
                    <wheel_normal_force>20</wheel_normal_force>
                    <wheel_radius>${do100_mecanum_wheel_radius}</wheel_radius>
                </wheel>
            </plugin>
        </gazebo>

        <gazebo reference="${prefix}_wheel_link">
            <collision>
                <surface>
                    <friction>
                        <ode>
                            <mu>1.0</mu>
                            <mu2>0.0</mu2>
                            <fdir1 gz:expressed_in="base_link">1 ${side} 0</fdir1>
                        </ode>
                    </friction>
                </surface>
            </collision>
        </gazebo>

        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="chassis_link"/>
            <child link="${prefix}_wheel_link" />
            <xacro:insert_block name="joint_pose" />
            <axis xyz="0 1 0" />
        </joint>

    </xacro:macro>

</robot>