<?xml version="1.0"?>

<model>
  <name>f1_renault_camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alejandro Moncalvillo</name>
    <email>amglega13@gmail.com</email>
  </author>

  <description>
    A f1 car model with ackermman geometry
  </description>
</model>