<?xml version="1.0"?>
<model>
  <name>Oven</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and Francesco Coldesina</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original geometry by "Francesco Coldesina" here "https://sketchfab.com/3d-models/gas-oven-8cc35c739c834b27b72d4761578dca3e" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". Optimization, PBR textures, and SDF created by Cole Biesemeyer.
  </description>

</model>
