<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="mesh_dir" value="file://$(find custom_robots)/models/mmo500/meshes"/>
  <xacro:property name="wheel_radius" value="0.127"/>

  <xacro:include filename="$(find custom_robots)/models/mmo500/mmo500_gz.urdf.xacro"/>
  <xacro:include filename="$(find custom_robots)/models/ur5/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.ros2_control.xacro"/>

  <!-- Wheels are fixed because the base is moved by VelocityControl -->
  <xacro:macro name="omni_wheel" params="name xyz yaw">
    <link name="${name}_link">
      <inertial>
        <mass value="2.2"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="${mesh_dir}/MPO-500-WHEEL.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <sphere radius="${wheel_radius}"/>
        </geometry>
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="0 0 ${yaw}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="laser" params="name xyz yaw">
    <link name="${name}_link">
      <inertial>
        <mass value="0.0001"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
      </inertial>
      <visual>
        <origin xyz="0 0 -0.06" rpy="1.57 0 0"/>
        <geometry>
          <mesh filename="${mesh_dir}/SICK-MICROSCAN3.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>
    <joint name="${name}_joint" type="fixed">
      <parent link="base_link"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="0 0 ${yaw}"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="mmo500" params="namespace simulation_controllers">

    <link name="base_footprint"/>

    <link name="base_link">
      <inertial>
        <origin xyz="-0.01 -0.01 0.215"/>
        <mass value="64"/>
        <inertia ixx="2.8" ixy="0" ixz="0" iyy="2.8" iyz="0" izz="2.8"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="-1.571 0 1.571"/>
        <geometry>
          <mesh filename="${mesh_dir}/MPO-500-BODY.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <!-- Box fitted to the body mesh because dartsim cannot collide with dae meshes -->
      <collision name="body">
        <origin xyz="-0.01 -0.01 0.2155"/>
        <geometry>
          <box size="0.80 0.566 0.341"/>
        </geometry>
      </collision>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 0"/>
    </joint>

    <xacro:omni_wheel name="wheel_front_left" xyz="0.25 0.28 ${wheel_radius}" yaw="0"/>
    <xacro:omni_wheel name="wheel_front_right" xyz="0.25 -0.28 ${wheel_radius}" yaw="${pi}"/>
    <xacro:omni_wheel name="wheel_back_left" xyz="-0.25 0.28 ${wheel_radius}" yaw="0"/>
    <xacro:omni_wheel name="wheel_back_right" xyz="-0.25 -0.28 ${wheel_radius}" yaw="${pi}"/>

    <xacro:laser name="front_laser" xyz="0.442 0 0.372" yaw="0"/>
    <xacro:laser name="back_laser" xyz="-0.442 0 0.372" yaw="${pi}"/>

    <link name="cabinet_link">
      <inertial>
        <origin xyz="0 0 0.21"/>
        <mass value="10"/>
        <inertia ixx="0.457072" ixy="0" ixz="0" iyy="0.23616" iyz="0" izz="0.686"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
        <geometry>
          <mesh filename="${mesh_dir}/cabin.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision name="cabinet">
        <origin xyz="0 0 0.2095"/>
        <geometry>
          <box size="0.55 0.556 0.419"/>
        </geometry>
      </collision>
    </link>

    <joint name="cabinet_joint" type="fixed">
      <parent link="base_link"/>
      <child link="cabinet_link"/>
      <origin xyz="0.072 0 0.386"/>
    </joint>

    <!-- UR10 on top of the cabinet -->
    <xacro:ur_robot
      name="ur10"
      prefix="ur10_"
      parent="cabinet_link"
      joint_limits_parameters_file="$(find custom_robots)/config/ur10/joint_limits.yaml"
      kinematics_parameters_file="$(find custom_robots)/config/ur10/default_kinematics.yaml"
      physical_parameters_file="$(find custom_robots)/config/ur10/physical_parameters.yaml"
      visual_parameters_file="$(find custom_robots)/config/ur10/visual_parameters.yaml"
      sim_gz="true"
      initial_positions="${dict(shoulder_pan_joint=1.5708,shoulder_lift_joint=-2.75,elbow_joint=2.67,wrist_1_joint=-1.5708,wrist_2_joint=-1.5708,wrist_3_joint=0.0)}">
      <origin xyz="0.133 0 0.416" rpy="0 0 -1.5708"/>
    </xacro:ur_robot>

    <link name="robotiq_coupler">
      <visual>
        <geometry>
          <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder radius="0.04" length="0.015"/>
        </geometry>
      </collision>
    </link>

    <joint name="robotiq_coupler_joint" type="fixed">
      <origin xyz="0 0 0.004" rpy="0 0 ${-pi/2.0}"/>
      <parent link="ur10_tool0"/>
      <child link="robotiq_coupler"/>
    </joint>

    <xacro:robotiq_85_gripper prefix="" parent="robotiq_coupler">
      <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
    </xacro:robotiq_85_gripper>

    <xacro:robotiq_85_ros2_control name="robotiq" prefix="" sim_gz="true" use_fake_hardware="false"/>

    <!-- Point between the finger pads, used as the arm tip by MoveIt -->
    <link name="gripper_tcp"/>
    <joint name="gripper_tcp_joint" type="fixed">
      <parent link="ur10_tool0"/>
      <child link="gripper_tcp"/>
      <origin xyz="0 0 0.15" rpy="0 0 0"/>
    </joint>

    <xacro:velocity namespace="${namespace}"/>
    <xacro:odom namespace="${namespace}"/>
    <xacro:gpu_laser link="front_laser_link" name="front_laser" namespace="${namespace}"/>
    <xacro:gpu_laser link="back_laser_link" name="back_laser" namespace="${namespace}"/>
    <xacro:ros2_control_plugin namespace="${namespace}" simulation_controllers="${simulation_controllers}"/>

  </xacro:macro>

</robot>
