<?xml version="1.0"?>
<model>
  <name>Office Chair</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and zhixson</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original geometry by "zhixson" here "https://sketchfab.com/3d-models/red-pleather-rolling-office-chair-d36c84dc98284e93b6719cc67ea01514" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". SDF created by Cole Biesemeyer.
  </description>

</model>