<?xml version="1.0" ?>
<robot name="f1_renault_ackermann_harmonic_laser">
  <link name="base_link">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="chassis_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="chassis_link"/>
  </joint>
  <link name="chassis_link">
    <inertial>
      <origin rpy="0 -0 0" xyz="1e-06 0.07307 0.65096"/>
      <mass value="1580"/>
      <inertia ixx="1997.86" ixy="-3e-05" ixz="-1e-06" iyy="442.769" iyz="62.5206" izz="2238.05"/>
    </inertial>
    <visual>
      <origin rpy="1.5708 -0 1.5708" xyz="0 1.51 0"/>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_ackermann_harmonic_laser/Renault/chasis.obj" scale="5 5 5"/>
      </geometry>
    </visual>
  </link>
  <joint name="bl_axle" type="revolute">
    <origin rpy="0 -0 0" xyz="-0.775 -1.83364 0.324997"/>
    <parent link="chassis_link"/>
    <child link="bl_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="1000" velocity="100"/>
    <dynamics friction="12.031606150200002"/>
  </joint>
  <link name="bl_1">
    <origin rpy="0 -0 0" xyz="0 0 0"/>
    <inertial>
      <origin rpy="0 -0 0" xyz="-0.0377 0 -0"/>
      <mass value="24.5"/>
      <inertia ixx="1.84514" ixy="0" ixz="0" iyy="1.04961" iyz="0" izz="1.04961"/>
    </inertial>
    <visual>
      <origin rpy="0 -0 0" xyz="0.875 0.14 -1.0126"/>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_ackermann_harmonic_laser/Renault/back_left.obj" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="br_axle" type="revolute">
    <origin rpy="0 -0 0" xyz="0.775 -1.83364 0.324997"/>
    <parent link="chassis_link"/>
    <child link="br_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="1000" velocity="100"/>
    <dynamics friction="12.031606150200002"/>
  </joint>
  <link name="br_1">
    <origin rpy="0 -0 0" xyz="0 0 0"/>
    <inertial>
      <origin rpy="0 -0 0" xyz="-0.0377 0 -0"/>
      <mass value="24.5"/>
      <inertia ixx="1.84514" ixy="0" ixz="0" iyy="1.04961" iyz="0" izz="1.04961"/>
    </inertial>
    <visual>
      <origin rpy="0 -0 0" xyz="-0.875 0.14 -1.0126"/>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_ackermann_harmonic_laser/Renault/back_right.obj" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="steering_joint" type="revolute">
    <origin rpy="0 0 0" xyz="-0.01 0.6 0.6"/>
    <parent link="chassis_link"/>
    <child link="steering_wheel"/>
    <axis xyz="0.0 -1.0 0.0"/>
    <limit effort="100" lower="-5" upper="5" velocity="10"/>
    <dynamics damping="10.0"/>
  </joint>
  <link name="steering_wheel">
    <origin rpy="0 0 1.5708" xyz="0 0.87 -0.54"/>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_ackermann_harmonic_laser/Renault/steering_wheel.dae" scale="4.7 4.7 4.7"/>
      </geometry>
    </visual>
  </link>
  <joint name="front_steering" type="revolute">
    <origin rpy="0 -0 0" xyz="0 1.51736 0.324997"/>
    <parent link="chassis_link"/>
    <child link="front_steering_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="1000" lower="-0.3" upper="0.3" velocity="2"/>
    <dynamics damping="0.1" friction="0.5"/>
  </joint>
  <link name="front_steering_link">
    <origin rpy="0 -0 0" xyz="0 0 0"/>
    <inertial>
      <origin rpy="0 -0 0" xyz="0 0 0"/>
      <mass value="2"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <joint name="fl_axle" type="revolute">
    <origin rpy="0 -0 0" xyz="-0.825 0 0"/>
    <parent link="front_steering_link"/>
    <child link="fl_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="1000" velocity="100"/>
    <dynamics friction="12.031606150200002"/>
  </joint>
  <link name="fl_1">
    <origin rpy="0 -0 0" xyz="0 0 0"/>
    <inertial>
      <origin rpy="0 -0 0" xyz="-0.0377 0 -0"/>
      <mass value="24.5"/>
      <inertia ixx="1.84514" ixy="0" ixz="0" iyy="1.04961" iyz="0" izz="1.04961"/>
    </inertial>
    <visual>
      <origin rpy="0 -0 0" xyz="0.875 0.1444 1.5174"/>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_ackermann_harmonic_laser/Renault/front_left.obj" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <joint name="fr_axle" type="revolute">
    <origin rpy="0 -0 0" xyz="0.825 0 0"/>
    <parent link="front_steering_link"/>
    <child link="fr_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="1000" velocity="100"/>
    <dynamics friction="12.031606150200002"/>
  </joint>
  <link name="fr_1">
    <origin rpy="0 -0 0" xyz="0 0 0"/>
    <inertial>
      <origin rpy="0 -0 0" xyz="-0.0377 0 -0"/>
      <mass value="24.5"/>
      <inertia ixx="1.84514" ixy="0" ixz="0" iyy="1.04961" iyz="0" izz="1.04961"/>
    </inertial>
    <visual>
      <origin rpy="0 -0 0" xyz="-0.875 0.1444 1.5174"/>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_ackermann_harmonic_laser/Renault/front_right.obj" scale="0.1 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  <link name="laser_body">
    <origin rpy="0.000000 0.000000 1.57000" xyz="0.00000 1.700000 0.7000"/>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_ackermann_harmonic_laser/meshes/hokuyo.dae"/>
      </geometry>
    </visual>
  </link>
  <joint name="laser_fix" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <child link="laser_body"/>
    <parent link="chassis_link"/>
    <axis xyz="0 0 1"/>
  </joint>
</robot>
