<?xml version="1.0" ?>
<model>
    <name>euro_pallet_with_stacked_boxes</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Juan Francisco Rascón Crespo</name>
        <email>juan.rascon@eurecat.org</email>
    </author>
    <description>A Euro pallet with a stack of boxes.</description>
</model>
