<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robotiq_85_gripper_transmission" params="prefix">
    
    <transmission name="${prefix}robotiq_85_left_knuckle_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}robotiq_85_left_knuckle_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}robotiq_85_left_knuckle_motor">
        <mechanicalReduction>1</mechanicalReduction>
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>
    
  </xacro:macro>

</robot>