<?xml version="1.0" ?>
<robot name="f1_renault">
  <link name="f1">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <inertial>
      <mass value="10"/>
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_laser/Renault/Car.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
  </link>
  <link name="laser_body">
    <origin rpy="0.000000 0.000000 0.00000" xyz="0.500000 0.000000 0.072000"/>
    <visual>
      <geometry>
        <mesh filename="package://f1/models/f1_renault_laser/meshes/hokuyo.dae"/>
      </geometry>
    </visual>
    <kinematic>0</kinematic>
  </link>
  <link name="camera_top_body_left">
    <origin rpy="0.000000 -0.000000 0.0000000" xyz="0.45000 0.040000 0.1000000"/>
    <inertial>
      <mass value="2"/>
      <inertia ixx="1.000000" ixy="0.000000" ixz="0.000000" iyy="1.000000" iyz="0.000000" izz="1.000000"/>
    </inertial>
    <visual>
      <geometry>
        <sphere radius=".005"/>
      </geometry>
    </visual>
    <kinematic>0</kinematic>
  </link>
  <link name="camera_top_body_right">
    <origin rpy="0.000000 -0.000000 0.0000000" xyz="0.45000 -0.040000 0.1000000"/>
    <inertial>
      <mass value="2"/>
      <inertia ixx="1.000000" ixy="0.000000" ixz="0.000000" iyy="1.000000" iyz="0.000000" izz="1.000000"/>
    </inertial>
    <visual>
      <geometry>
        <sphere radius=".005"/>
      </geometry>
    </visual>
    <kinematic>0</kinematic>
  </link>
  <joint name="camera_left" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <child link="camera_top_body_left"/>
    <parent link="f1"/>
    <axis xyz="0 0 0"/>
  </joint>
  <joint name="camera_right" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <child link="camera_top_body_right"/>
    <parent link="f1"/>
    <axis xyz="0 0 0"/>
  </joint>
  <joint name="laser_fix" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <child link="laser_body"/>
    <parent link="f1"/>
    <axis xyz="0 0 0"/>
  </joint>
</robot>
