<?xml version="1.0"?>
<model>
  <name>Piano</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and Almaz</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original geometry by "Almaz" here "https://sketchfab.com/3d-models/grand-piano-hw-87eddb7ef5334f368be785a40fa8c6e8" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". Optimization and SDF created by Cole Biesemeyer.
  </description>

</model>