<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="velocity" params="namespace">
    <gazebo>
      <plugin filename="gz-sim-ackermann-steering-system" name="gz::sim::systems::AckermannSteering">
        <left_joint>bl_axle</left_joint>
        <right_joint>br_axle</right_joint>
        <left_steering_joint>l_steer</left_steering_joint>
        <right_steering_joint>r_steer</right_steering_joint>
        <kingpin_width>0.472</kingpin_width>
        <steering_limit>0.64</steering_limit>
        <wheel_base>0.488</wheel_base>
        <wheel_separation>0.36</wheel_separation>
        <wheel_radius>0.072</wheel_radius>
        <topic>/${namespace}/cmd_vel</topic>
        <!-- <odom_topic>/model/amazon_robot/odometry_noisy</odom_topic>
        <tf_topic>/model/amazon_robot/tf_noisy</tf_topic> -->
        <odom_publish_frequency>50</odom_publish_frequency>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="odom" params="namespace freq">
    <gazebo>
      <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
        <odom_publish_frequency>${freq}</odom_publish_frequency>
        <odom_topic>/${namespace}/odom</odom_topic>
        <dimensions>3</dimensions>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="joints" params="vel_topic topic namespace">
    <gazebo>
      <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
        <joint_name>lift_joint</joint_name>
        <topic>/${namespace}/${vel_topic}</topic>
        <initial_position>0.0</initial_position>
        <use_force_commands>true</use_force_commands>
        <p_gain>5.0</p_gain>
        <i_gain>0.0</i_gain>
        <d_gain>0.1</d_gain>
        <cmd_max>100</cmd_max>
        <cmd_min>-100</cmd_min>
        <disable_braking>0</disable_braking>
      </plugin>

      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <topic>/${namespace}/${topic}</topic>
        <joint_name>lift_joint</joint_name>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
