<?xml version="1.0" ?>
<robot name="logistic ackermann robot"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="namespace" default="logistic_robot"/>
  <xacro:property name="namespace" value="$(arg namespace)"/>

  <xacro:include filename="$(find custom_robots)/models/logistic_ackermann_robot/logistic_ackermann_robot_gz.urdf.xacro"/>
  <xacro:include filename="$(find custom_robots)/models/logistic_ackermann_robot/logistic_ackermann_robot_common.urdf.xacro"/>

  <xacro:logistic_ackermann_robot namespace="${namespace}"/>
</robot>
