<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find custom_robots)/models/quadrotor/quadrotor_gz.urdf.xacro"/>

  <xacro:macro name="quadrotor" params="namespace">
    <gazebo>
      <include merge="true">
        <uri>model://quadrotor_base</uri>
      </include>
    </gazebo>

    <xacro:imu/>
    <xacro:velocity namespace="${namespace}"/>
    <xacro:tf freq="100"/>
    <xacro:odom topic="/${namespace}/odom" freq="100"/>
    <xacro:motors namespace="${namespace}"/>
  </xacro:macro>
</robot>
