<?xml version="1.0"?>

<model>
  <name>Amazon Robot</name>
  <version>2.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Shreyas Gokhale</name>
    <email>shreyas6gokhale@gmail.com</email>
  </author>

  <description>
    TurtleBot3 Waffle Pi
  </description>
</model>
