<?xml version="1.0"?>
<robot name="autonomous_car_gz"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera" params="xyz rpy parent name namespace">

    <link name="${name}_link"></link>

    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="camera">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>20</update_rate>
        <topic>/${namespace}/${name}/image_raw</topic>
        <camera name="camera">
          <camera_info_topic>/${namespace}/${name}/camera_info</camera_info_topic>
          <horizontal_fov>2.094</horizontal_fov>
          <lens>
            <type>gnomonical</type>
            <scale_to_hfov>true</scale_to_hfov>
            <cutoff_angle>1.5707</cutoff_angle>
          </lens>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
            <center>0.5 0.5</center>
          </distortion>
          <image>
            <width>1080</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>200</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="laser" params="xyz rpy name parent namespace">
    <link name="${name}_link"></link>

    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="gpu_lidar">
        <always_on>1</always_on>
        <visualize>1</visualize>
        <update_rate>20</update_rate>
        <topic>/${namespace}/${name}/scan</topic>
        <gz_frame_id>base_scan</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>180</samples>
              <resolution>1</resolution>
              <min_angle>-1.570000</min_angle>
              <max_angle>1.570000</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.120000</min>
            <max>30.000000</max>
            <resolution>0.010000</resolution>
          </range>
        </lidar>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="lidar" params="xyz rpy name parent namespace">
    <material name="white">
      <color rgba="1.0 1.0 1.0 1.0"/>
    </material>

    <link name="${name}_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find custom_robots)/models/f1/meshes/hokuyo.dae" scale="28 28 28"/>
        </geometry>
      </visual>
    </link>

    <link name="${name}_link_base">
      <visual>
        <geometry>
          <cylinder length="0.05" radius="0.15"/>
        </geometry>
        <material name="white"/>
      </visual>
    </link>

    <link name="${name}_base">
      <visual>
        <geometry>
          <cylinder length="0.25" radius="0.025"/>
        </geometry>
        <material name="white"/>
      </visual>
    </link>

    <joint name="${name}_link_to_${name}_base" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_base"/>
      <origin xyz="0 0 -0.15" rpy="0 0 0"/>
    </joint>

    <joint name="${name}_link_to_base" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_link_base"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="${name}_to_${parent}" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="laser" type="gpu_lidar">
        <always_on>1</always_on>
        <visualize>1</visualize>
        <update_rate>20</update_rate>
        <topic>/${namespace}/${name}/pc2</topic>
        <gz_frame_id>base_scan</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1.000000</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
            <vertical>
              <samples>180</samples>
              <resolution>1.000000</resolution>
              <min_angle>-0.785</min_angle>
              <max_angle>0.785</max_angle>
            </vertical>
          </scan>
          <range>
            <min>1.400000</min>
            <max>20.000000</max>
            <resolution>0.010000</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </lidar>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="ackermann_steering" params="namespace">
    <gazebo>
      <plugin filename="gz-sim-ackermann-steering-system" name="gz::sim::systems::AckermannSteering">
        <left_joint>fl_axle</left_joint>
        <left_joint>bl_axle</left_joint>
        <right_joint>fr_axle</right_joint>
        <right_joint>br_axle</right_joint>
        <left_steering_joint>l_steer</left_steering_joint>
        <right_steering_joint>r_steer</right_steering_joint>
        <kingpin_width>1.65</kingpin_width>
        <steering_limit>0.3</steering_limit>
        <wheel_base>3.351</wheel_base>
        <wheel_separation>1.65</wheel_separation>
        <wheel_radius>0.3425</wheel_radius>
        <min_velocity>-50</min_velocity>
        <max_velocity>50</max_velocity>
        <min_acceleration>-50</min_acceleration>
        <max_acceleration>50</max_acceleration>
        <topic>/${namespace}/cmd_vel</topic>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="odom" params="namespace freq">
    <gazebo>
      <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>chassis_link</robot_base_frame>
        <odom_publish_frequency>${freq}</odom_publish_frequency>
        <odom_topic>/${namespace}/odom</odom_topic>
        <dimensions>3</dimensions>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="velocity" params="namespace">
    <gazebo>
      <plugin filename="gz-sim-velocity-control-system" name="gz::sim::systems::VelocityControl">
        <topic>/${namespace}/cmd_vel</topic>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="joints">
    <gazebo>
      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
        <joint_name>fl_axle</joint_name>
        <joint_name>fr_axle</joint_name>
        <joint_name>bl_axle</joint_name>
        <joint_name>br_axle</joint_name>
        <joint_name>l_steer</joint_name>
        <joint_name>r_steer</joint_name>
        <!-- <joint_name>steering_joint</joint_name> -->
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="steer_controller" params="topic joint">
    <gazebo>
      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>${joint}</joint_name>
        <sub_topic>${topic}</sub_topic>
        <p_gain>10</p_gain>
        <i_gain>0.1</i_gain>
        <d_gain>1</d_gain>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
