<?xml version="1.0" ?>
<robot name="f1"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="camera" default="true"/>
  <xacro:arg name="lidar" default="false"/>
  <xacro:arg name="laser" default="false"/>

  <xacro:include filename="$(find custom_robots)/models/autonomous_car/autonomous_car_gz.urdf.xacro"/>
  <xacro:include filename="$(find custom_robots)/models/autonomous_car/autonomous_car_common.urdf.xacro"/>

  <xacro:autonomous_car/>

  <xacro:if value="$(arg camera)">
    <xacro:camera xyz="0 0.2 1.45" rpy="0 0 1.5708" name="prius_autoparking" parent="base_link"/>
  </xacro:if>

  <xacro:if value="$(arg lidar)">
    <xacro:lidar xyz="0 -1.25 1.725" rpy="0 0 0" name="lidar" parent="base_link" topic="/prius_autoparking/pc2"/>
  </xacro:if>

  <xacro:if value="$(arg laser)">
    <xacro:laser xyz="-0.024 2.39 0.5" rpy="0 0 1.5708" name="laser_front" parent="base_link" topic="/prius_autoparking/scan_front"/>
    <xacro:laser xyz="1.1 0 0.5" rpy="0 0 0" name="laser_side" parent="base_link" topic="/prius_autoparking/scan_side"/>
    <xacro:laser xyz="-0.024 -2.6 0.5" rpy="0 0 -1.5708" name="laser_back" parent="base_link" topic="/prius_autoparking/scan_back"/>
  </xacro:if>
</robot>
