<?xml version="1.0"?>

<model>
  <name>Power Tower - Danube - Wires</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Petr Štibinger</name>
    <email>stibipet@fel.cvut.cz</email>
  </author>

  <description>
    Transmission lines for tower of type Danube. Default length 40 m. Adjust X portion of mesh scale in model.sdf for longer wires.
  </description>

</model>
