<?xml version="1.0"?>
<model>
  <name>Toilet</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and HippoStance</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original model by "HippoStance" here "https://sketchfab.com/3d-models/toilet-132a8ee2af3a40d39d270fbed3d3666c" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". SDF created by Cole Biesemeyer.
  </description>

</model>
