<?xml version="1.0"?>

<model>
  <name>ackermann_logistic_robot</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Lucia Lishan Chen Huang</name>
    <email>lucia.chen189@gmail.com</email>
  </author>

  <description>
    An Ackerman logistics robot with a lifting platform.
  </description>
</model>