/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!../exercises/static/exercises/follow_line_newmanager/web-template/react-components/css/TestShowScreen.css ***!
  \******************************************************************************************************************************************************************************************************************************/
img.test-show-screen {
  width: 800px;
  height: 600px; }

div.test-show-screen {
  border: 1px solid #c0c0c0;
  padding: 8px 32px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  cursor: pointer; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto; }

div.panel-parent {
  display: flex;
  flex-direction: row; }

div.panel {
  flex: 1; }


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiY3NzL2V4ZXJjaXNlc19zdGF0aWNfZXhlcmNpc2VzX2ZvbGxvd19saW5lX25ld21hbmFnZXJfd2ViLXRlbXBsYXRlX3JlYWN0LWNvbXBvbmVudHNfVGVzdFNob3dTY3JlZW5fanMuY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBO0VBQ0ksWUFBWTtFQUNaLGFBQWE7O0FBR2pCO0VBQ0kseUJBQXlCO0VBQ3pCLGlCQUFpQjtFQUNqQixzQkFBc0I7RUFDdEIsV0FBVztFQUNYLGlCQUFpQjtFQUNqQixxQkFBcUI7RUFDckIsZUFBZTs7QUFHbkI7RUFDSSxTQUFRO0VBQ1IsVUFBUztFQUNULFdBQVU7RUFDVixZQUFXO0VBQ1gsY0FBYzs7QUFHbEI7RUFDSSxhQUFhO0VBQ2IsbUJBQW1COztBQUd2QjtFQUNJLE9BQU8iLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9yZWFjdF9mcm9udGVuZC8uLi9leGVyY2lzZXMvc3RhdGljL2V4ZXJjaXNlcy9mb2xsb3dfbGluZV9uZXdtYW5hZ2VyL3dlYi10ZW1wbGF0ZS9yZWFjdC1jb21wb25lbnRzL2Nzcy9UZXN0U2hvd1NjcmVlbi5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiaW1nLnRlc3Qtc2hvdy1zY3JlZW4ge1xuICAgIHdpZHRoOiA4MDBweDtcbiAgICBoZWlnaHQ6IDYwMHB4O1xufVxuXG5kaXYudGVzdC1zaG93LXNjcmVlbiB7XG4gICAgYm9yZGVyOiAxcHggc29saWQgI2MwYzBjMDtcbiAgICBwYWRkaW5nOiA4cHggMzJweDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjMDAwO1xuICAgIGNvbG9yOiAjZmZmO1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbmh0bWwsIGJvZHkge1xuICAgIG1hcmdpbjowO1xuICAgIHBhZGRpbmc6MDtcbiAgICB3aWR0aDoxMDAlO1xuICAgIGhlaWdodDoxMDAlO1xuICAgIG92ZXJmbG93OiBhdXRvO1xufVxuXG5kaXYucGFuZWwtcGFyZW50IHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XG59XG5cbmRpdi5wYW5lbCB7XG4gICAgZmxleDogMTtcbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/