<?xml version="1.0" ?>
<robot name="montmelo">
  <link name="montmelo">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <visual>
      <geometry>
        <mesh filename="package://f1/models/montmelo_line/meshes/montmelo.dae"/>
      </geometry>
    </visual>
  </link>
  <link name="pared">
    <visual>
      <geometry>
        <mesh filename="package://f1/models/montmelo_line/meshes/montmelo_pared.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
