<?xml version="1.0" ?>
<robot name="ur3" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur3"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="sim_gz" default="true"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="camera" default="false"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>

  <!-- Include cams -->
  <xacro:if value="$(arg camera)">

    <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/common_properties.xacro"/>

    <!-- HAND CAMERA -->
    <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_hand_params_gz.xacro"/>
    <xacro:property name="parent_hand" value="tool0"/>
    <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_hand_gz.xacro"/>

    <!-- BASE CAMERA -->
    <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_base_params_gz.xacro"/>
    <xacro:property name="parent_base" value="base_link"/>
    <!-- Posición -->
    <xacro:property name="cam_base_px" value="0.0"/>
    <xacro:property name="cam_base_py" value="1.2"/>
    <xacro:property name="cam_base_pz" value="0.5"/>
    <!-- Orientación -->
    <xacro:property name="cam_base_or" value="0.0"/>
    <xacro:property name="cam_base_op" value="1.57"/>
    <xacro:property name="cam_base_oy" value="0.0"/>
    <xacro:include filename="$(find ros2srrc_ur5_gazebo)/urdf/cam_on_base_gz.xacro"/>

  </xacro:if>

  <xacro:include filename="$(find custom_robots)/models/ur3/ur.urdf.xacro"/>
  <xacro:include filename="$(find custom_robots)/models/ur3/ur.ros2_control.xacro"/>

  <!-- Include XACRO-MACRO file of the Robotiq 2f-85: -->
  <xacro:include filename="$(find ros2srrc_endeffectors)/robotiq_2f85/urdf/robotiq_2f85_macro.urdf.xacro"/>
  <xacro:include filename="$(find ros2srrc_endeffectors)/robotiq_2f85/urdf/robotiq_2f85_ros2control.xacro"/>

  <!-- Coupler -->
  <link name="robotiq_coupler">
    <visual>
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04" length="0.015"/>
      </geometry>
    </collision>
  </link>

  <joint name="robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 0.004" rpy="0 0 ${-pi/2.0}" />
    <parent link="tool0"/>
    <child link="robotiq_coupler"/>
  </joint>

  <!-- Gripper -->
  <xacro:robotiq_85_gripper prefix="" parent="robotiq_coupler">
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_85_gripper>

  <!-- ros2_control GRIPPER -->
  <xacro:robotiq_85_ros2_control name="robotiq" prefix="" sim_gz="true" use_fake_hardware="false"/>

  <!-- ros2_control UR3 -->
  <xacro:ur_ros2_control
      name="ur"
      prefix=""
      sim_gz="true"
      use_fake_hardware="false"
      script_filename=""
      output_recipe_filename=""
      input_recipe_filename=""
      tf_prefix=""
      hash_kinematics=""
      robot_ip="0.0.0.0"/>

</robot>
