<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5_robotiq85" >

	<xacro:arg name="limited" default="true"/>

	<!-- UR5e  -->
	<xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />
	
	<!-- Robotiq 85 -->
	<xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />
	<xacro:robotiq_gripper prefix="" parent="flange">
		<origin xyz="0 0 0" rpy="0 0 0" />
	</xacro:robotiq_gripper>

</robot>
