<?xml version="1.0"?>
<model>
  <name>Vanity</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and jimbogies</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original geometry by "jimbogies" here "https://sketchfab.com/3d-models/bathroom-sink-cabinet-e5cf10304ffb4c11bc7841b584ccd706" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". Optimization and SDF created by Cole Biesemeyer.
  </description>

</model>
