<?xml version="1.0" ?>
<model>
  <name>Quadrotor Dual Cam with a Suction Gripper</name>
  <version>1.0</version>
  <sdf version="1.8">quadrotor_dual_cam_gripper.sdf</sdf>

  <author>
    <name>pariaspe</name>
  </author>

  <description>
    A quadrotor model extended with two cameras and a suction gripper.
  </description>
</model>
