<?xml version="1.0" ?>
<robot name="autopark_line">

  <link name="autopark">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <visual>
      <origin rpy="0 0 3.14" xyz="0 -1 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/autopark_line/meshes/autopark_line.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="opel_1">
    <visual>
      <origin rpy="0 0 1.57" xyz="-20 -3 0"/>
      <geometry>
        <mesh filename="package://car_junction/models/opel/meshes/model.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="opel_2">
    <visual>
      <origin rpy="0 0 1.57" xyz="-13.5 -3 0"/>
      <geometry>
        <mesh filename="package://car_junction/models/opel/meshes/model.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="opel_3">
    <visual>
      <origin rpy="0 0 1.57" xyz="-7 -3 0"/>
      <geometry>
        <mesh filename="package://car_junction/models/opel/meshes/model.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="opel_4">
    <visual>
      <origin rpy="0 0 1.57" xyz="0.5 -3 0"/>
      <geometry>
        <mesh filename="package://car_junction/models/opel/meshes/model.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="opel_5">
    <visual>
      <origin rpy="0 0 1.57" xyz="14 -3 0"/>
      <geometry>
        <mesh filename="package://car_junction/models/opel/meshes/model.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_0">
    <visual>
      <origin rpy="0 0 3.14" xyz="20 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_1">
    <visual>
      <origin rpy="0 0 3.14" xyz="15 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_2">
    <visual>
      <origin rpy="0 0 3.14" xyz="10 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_3">
    <visual>
      <origin rpy="0 0 3.14" xyz="5 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_4">
    <visual>
      <origin rpy="0 0 3.14" xyz="0 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_5">
    <visual>
      <origin rpy="0 0 3.14" xyz="-5 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_6">
    <visual>
      <origin rpy="0 0 3.14" xyz="-10 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_7">
    <visual>
      <origin rpy="0 0 3.14" xyz="-15 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="farola_8">
    <visual>
      <origin rpy="0 0 3.14" xyz="-20 -5.2 0"/>
      <geometry>
        <mesh filename="package://autopark_harmonic/models/lamp_post/meshes/lamp_post.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

</robot>