<?xml version="1.0"?>
<robot name="warehouse_world"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="dark">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
  <material name="light_black">
    <color rgba="0.4 0.4 0.4 1"/>
  </material>
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="green">
    <color rgba="0 0.8 0 1"/>
  </material>
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <material name="orange">
    <color rgba="1 0.4235 0.0392 1"/>
  </material>
  <material name="brown">
    <color rgba="0.8706 0.8118 0.7647 1"/>
  </material>
  <material name="red">
    <color rgba="0.8 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="half_transparent">
    <color rgba="0 0 0 0"/>
  </material>
  <material name="ground_mat">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>

  <link name="base_footprint"/>

  <joint name="ground_plane_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="ground_plane"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="ground_plane">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="100 100 0.01"/>
      </geometry>
      <material name="ground_mat"/>
    </visual>
  </link>

  <joint name="mapping_warehouse_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="mapping_warehouse"/>
    <origin xyz="0 0 -0.09" rpy="0 0 0"/>
  </joint>

  <link name="mapping_warehouse">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/mapping_warehouse/meshes/warehouse.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 -25.5 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="30 1 20"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
  </link>

  <joint name="cart1_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="cart1_base"/>
    <origin xyz="-5.73 15 0.25" rpy="0 -0 0"/>
  </joint>

  <link name="cart1_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/cart_model_2/meshes/cart_base.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/cart_model_2/meshes/cart_base.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.245 -1.005 0.05" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/cart_model_2/meshes/sup_wheels.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.245 -1.005 0.05" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/cart_model_2/meshes/sup_wheels.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/cart_model_2/meshes/cart_base.dae" scale="1 1 1"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <joint name="shelf_big_0_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_big_0"/>
    <origin xyz="-9.34177 -13.5598 0" rpy="0 -0 0"/>
  </joint>

  <link name="shelf_big_0">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf_big/meshes/shelf_big_movai.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_big_1_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_big_1"/>
    <origin xyz="13.9821 15.319 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_big_1">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf_big/meshes/shelf_big_movai.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_big_2_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_big_2"/>
    <origin xyz="6.19777 -12.9647 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_big_2">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf_big/meshes/shelf_big_movai.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_big_3_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_big_3"/>
    <origin xyz="0.594376 -12.9647 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_big_3">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf_big/meshes/shelf_big_movai.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_big_4_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_big_4"/>
    <origin xyz="-5.36284 -12.9647 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_big_4">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 1.57079632679"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf_big/meshes/shelf_big_movai.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf"/>
    <origin xyz="-4.41528 -0.690987 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_0_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_0"/>
    <origin xyz="-4.41528 2.30697 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_0">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_1_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_1"/>
    <origin xyz="-4.41528 5.30708 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_1">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_2_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_2"/>
    <origin xyz="-4.41528 8.34352 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_2">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_3_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_3"/>
    <origin xyz="5.60144 8.34352 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_3">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_4_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_4"/>
    <origin xyz="5.60144 5.30708 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_4">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_5_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_5"/>
    <origin xyz="5.60144 -0.690987 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_5">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_6_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_6"/>
    <origin xyz="5.60144 2.30697 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_6">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_7_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_7"/>
    <origin xyz="13.3818 -21.2416 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_7">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_8_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_8"/>
    <origin xyz="13.3818 -19.0028 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_8">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_9_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_9"/>
    <origin xyz="13.3818 -16.4478 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_9">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="shelf_10_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="shelf_10"/>
    <origin xyz="13.3818 -14.1028 0" rpy="0 0 0"/>
  </joint>

  <link name="shelf_10">
    <visual>
      <origin xyz="-0.5 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/shelf/meshes/shelf_big_movai.dae" scale="0.2 0.3 0.3"/>
      </geometry>
    </visual>
  </link>

  <joint name="pallet_box_mobile_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="pallet_box_mobile"/>
    <origin xyz="4.4161 14.6952 0.01" rpy="0 0 0"/>
  </joint>

  <link name="pallet_box_mobile">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet/meshes/pallet.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.053875 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet_box_mobile/meshes/boxes.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="pallet_box_mobile_0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet/meshes/pallet.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.053875 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet_box_mobile/meshes/boxes.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="pallet_box_mobile_0_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="pallet_box_mobile_0"/>
    <origin xyz="4.45415 13.6212 0.01" rpy="0 0 0"/>
  </joint>

  <link name="pallet_box_mobile_1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet/meshes/pallet.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.053875 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet_box_mobile/meshes/boxes.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="pallet_box_mobile_1_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="pallet_box_mobile_1"/>
    <origin xyz="4.4468 12.229 0.01" rpy="0 0 0"/>
  </joint>

  <joint name="pallet_box_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="pallet_box"/>
    <origin xyz="-6.11913 13.7079 0.01" rpy="0 0 0"/>
  </joint>

  <link name="pallet_box">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet/meshes/pallet.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.053875 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet_box_mobile/meshes/boxes.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="pallet_box_0_fixed" type="fixed">
    <parent link="base_footprint"/>
    <child link="pallet_box_0"/>
    <origin xyz="14.0222 -24.335 0.01" rpy="0 0 0"/>
  </joint>

  <link name="pallet_box_0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet/meshes/pallet.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.053875 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://laser_mapping/models/pallet_box_mobile/meshes/boxes.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

</robot>