<?xml version="1.0" ?>
<robot name="circuito">
  <link name="link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 3"/>
      <geometry>
        <mesh filename="package://f1/models/monaco/meshes/monaco.dae" scale="0.2 0.2 0.2"/>
      </geometry>
      <material name="green">
        <color rgba="0.2 1 0.2 1"/>
      </material>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 3"/>
      <geometry>
        <mesh filename="package://f1/models/monaco/meshes/monaco_track.dae" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual>
  </link>
</robot>
