<?xml version="1.0" ?>
<robot name="spa_circuit">


  <link name="f1">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <!-- <visual>
      <origin rpy="0 0 -1.57" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://f1/models/f1_renault/Renault/Car.obj" scale="0.2 0.2 0.2"/>
      </geometry>
    </visual> -->

    <visual>
      <origin rpy="0 0 3.14" xyz="500 0 -415"/>
      <geometry>
        <mesh filename="package://f1/models/spa/meshes/spa.dae"/>
      </geometry>
    </visual>
  </link>

</robot>
