<?xml version="1.0"?>
<model>
  <name>Armchair</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and Kuutti Siitonen</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original model sourced from PolyHaven.
  </description>

</model>
