<?xml version="1.0"?>

<model>
  <name>Parking Lot</name>

  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Pedro Fernandez</name>
    <email>pedro.fdc@gmail.com</email>
  </author>

  <description>
    6 parking spots in every row and including different vehicles
  </description>
</model>
