<?xml version="1.0"?>
<model>
  <name>Desk</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and Pedro Belthori</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original geometry by "Pedro Belthori" here "https://sketchfab.com/3d-models/desk-low-poly-ed62a64f51bf4d80a13e1344093c3909" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". PBR textures and SDF by Cole Biesemeyer.
  </description>

</model>