<?xml version="1.0"?>

<model>
  <name>rack_set6</name>
  <version>2.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Lucia Lishan Chen</name>
    <email>lucia.chen01@hotmail.com</email>
  </author>

  <description>
    Amazon Warehouse Exercise Rack Set of 6
  </description>
</model>
