<?xml version="1.0"?>
<model>
  <name>Bathtub</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and 3ddominator</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Original geometry by "3ddominator" here "https://sketchfab.com/3d-models/bathtub-3350f81025974c53808a2efd2b31d4fd#download" under the CC BY 4.0 license here "https://creativecommons.org/licenses/by/4.0/". SDF created by Cole Biesemeyer.
  </description>

</model>
