<?xml version="1.0" ?>
<robot name="big_montreal_line">
  <link name="big_montreal_line">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <visual>
      <geometry>
        <mesh filename="package://ackermann_cars/models/big_montreal_line/meshes/montreal.dae" scale="5 5 5"/>
      </geometry>
    </visual>
  </link>
  <link name="pared">
    <visual>
      <geometry>
        <mesh filename="package://ackermann_cars/models/big_montreal_line/meshes/montreal_pared.dae" scale="5 5 5"/>
      </geometry>
    </visual>
  </link>
</robot>
