<?xml version="1.0"?>
<model>
  <name>Fridge</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer and Zlat</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Standard bed. Original geometry by "Zlat" here "https://sketchfab.com/3d-models/retro-fridge-f83cfd9e3edf4b4abab5ca14b0b28ec5" under the CC BY-NC 4.0 license here "https://creativecommons.org/licenses/by-nc/4.0/". Modifications and SDF done by Cole Biesemeyer.
  </description>

</model>
