<?xml version="1.0" ?>
<robot name="turtlebot3"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="camera" default="true"/>
  <xacro:arg name="noise_level" default="none"/>
  <xacro:arg name="namespace" default="vacuum_cleaner"/>
  <xacro:property name="noise_level" value="$(arg noise_level)"/>
  <xacro:property name="namespace" value="$(arg namespace)"/>

  <!-- Odometry noise per difficulty (drift std ~ alpha*sqrt(distance)). -->
  <xacro:if value="${noise_level == 'low'}">
    <xacro:property name="a1" value="0.01" />
    <xacro:property name="a2" value="0.01" />
    <xacro:property name="a3" value="0.01" />
    <xacro:property name="a4" value="0.01" />
  </xacro:if>

  <xacro:if value="${noise_level == 'med'}">
    <xacro:property name="a1" value="0.05" />
    <xacro:property name="a2" value="0.05" />
    <xacro:property name="a3" value="0.05" />
    <xacro:property name="a4" value="0.05" />
  </xacro:if>

  <xacro:if value="${noise_level == 'high'}">
    <xacro:property name="a1" value="0.25" />
    <xacro:property name="a2" value="0.25" />
    <xacro:property name="a3" value="0.25" />
    <xacro:property name="a4" value="0.25" />
  </xacro:if>

  <xacro:include filename="$(find custom_robots)/models/turtlebot3/turtlebot3_gz.urdf.xacro"/>
  <xacro:include filename="$(find custom_robots)/models/turtlebot3/turtlebot3_common.urdf.xacro"/>

  <xacro:turtlebot3 namespace="${namespace}"/>

  <xacro:if value="$(arg camera)">
    <xacro:camera xyz="0.069 -0.047 0.107" rpy="0 0 0" name="camera" parent="camera_base_link" namespace="${namespace}"/>
  </xacro:if>

  <xacro:unless value="${noise_level == 'none'}">
    <xacro:noise_odom a1="${a1}" a2="${a2}" a3="${a3}" a4="${a4}" namespace="${namespace}"/>
  </xacro:unless>
</robot>
