<?xml version="1.0"?>

<model>
  <name>simple_labyrinth</name>
  <version>1.4</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Alejando Hernández</name>
    <email></email>
  </author>

  <description>
	A simple labyrinth for jderobot exercises
  </description>

  <depend>
  </depend>
</model>
