<?xml version="1.0"?>

<model>
  <name>f1_renault_camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Blanca Soria</name>
    <email>blancasoriaru@gmail.com</email>
  </author>

  <description>
      F1 robot Model with ackerman dynamics and mobile wheels and 2 ros2 cameras
  </description>
</model>