<?xml version="1.0" ?>

<database>
  <name>DRC Sim</name>
  <license>Creative Commons Attribution 3.0 Unported</license>

  <models>
    <uri>file://fire_hose</uri>
    <uri>file://drc_terrain</uri>
    <uri>file://drc_vehicle</uri>
    <uri>file://atlas_irobot_hand</uri>
    <uri>file://golf_cart</uri>
    <uri>file://standpipe</uri>
    <uri>file://multisense_sl</uri>
    <uri>file://irobot_hand</uri>
    <uri>file://powerplant</uri>
    <uri>file://block_angle_steps</uri>
    <uri>file://block_level_steps</uri>
    <uri>file://block_angle_base</uri>
  </models>
</database>
