<?xml version="1.0"?>

<robot name="blue_sphere_small">
    
  <link name="blue_sphere_small">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.01" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
  </link>
  
  <gazebo reference="blue_sphere_small">
    <material>Gazebo/Blue</material>
  </gazebo>
  
</robot>

